@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');

:root {
    /* Pateta */
    --primary-solid: #ff3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-solid-900: rgba(31, 31, 31, 0.9);
    --dark-solid-500: rgba(31, 31, 31, 0.5);
    --dark-solid-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Tipografias */
    --primary-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Tamaños fuentes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;
    --font-xxsmall: 1.2em;

    /* Espacios */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-18: 1.8rem;
    --spacing-16: 1.6rem;
    --spacing-14: 1.4rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-4: 0.4rem;
    --spacing-2: 0.2rem;
    


}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    font-family: var(--primary-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}



header{
    background-color: var(--dark-bg-solid) ;
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}
ul, ol {
    list-style-type: none;
}

p {
    font-size: 2.4em;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

header {
    padding: var(--spacing-36);
}
.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-header__logo {
    max-width: 372px;
    max-height: 65.19px;
}

.navbar-header__menu { 
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: var(--spacing-20);
}

.navbar-header__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
    
}

.navbar-header__link:hover {    
    background-color: var(--primary-900);
}

.con-icono { 
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;

}
.submenu {
    display: none;
    position: absolute;
    background-color: var(--dark-bg-solid);
    width: 300px;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    transition: background .3s ease-in-out;
    font-size: var(--font-medium);
}

.submenu__link:hover {
    background-color: var(--primary-900);
}

/* MAIN */
/*** ITEM ***/

.item {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.item__picture img {
    display: flex;
    animation: fade 0.7s;
}

.item__picture .item__picture__img--back {
    display: none;
}

.item__picture:hover .item__picture__img--back { 
    display: block;
}

.item__picture:hover .item__picture__img--front { 
    display: none;
}

.item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;

}

.item__colection {
    font-family: var(--primary-font);
    font-size: var(--font-small);
    font-weight: 500;

}

.item__title {
    font-family: var(--primary-font);
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.item__text {
    font-family: var(--primary-font);
    font-size: var(--font-large);
    font-weight: 400;
}

.item__price {
    font-family: var(--primary-font);
    font-size: var(--font-jumbo);
    font-weight: 400;
}

.item__cart{
    display: flex;
    align-items: center;
    gap: var(--spacing-18);
}

.item__input {
    font-size: var(--font-xlarge);
    max-width: 150px;
    text-align: center;
}

.item__cart__controls {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4)
}

.item__cart__controls .item__quantity {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-size: var(--font-xxsmall);
    padding: var(--spacing-2) var(--spacing-4);
    border: none;
}

.item__cart .item__submit {
    font-size: var(--font-medium);
    background-color: var(--primary-solid);
    color: var(--light-font-solid); 
    padding: var(--spacing-8) var(--spacing-16);    

}

.item__cart .item__submit:hover {
    background-color: var(--secondary-solid);
}

.item__addcart {
    display: inline-block;
    font-family: var(--primary-font);
    font-size: var(--font-medium);
    background-color: #ff3333;
    color: var(--light-font-solid);
    padding: var(--spacing-14);
    font-weight: 400;
    transition: background .3s ease-in-out;
}

.item__addcart:hover{
    background-color: var(--dark-bg-solid);
    

}
.item__metodospago {
    font-family: var(--primary-font);
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);
}

#itemlink {
    text-decoration:underline;
}

/*** PRIDUCTOS RELACIONADOS ***/

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-36) auto;
}

/* .slider__items {
    display: flex;
    gap: var(--spacing-36);
} */

.slider__title {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-display);
    color: #111111;
}

.glide__arrow > iconify-icon {
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 900;
    
}

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}


.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__tag {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;

}

.card-item__cover img {
    animation: fade 0.7s;
}

.card-item__img--back {
    display: none;
}
.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__content { 
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__colection {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--font-xsmall);
    color: #333333;
}

.card-item__name {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: var(--font-medium);
    color: #111111;
}

.card-item__price {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--font-small);
    color: #333333;
}

.card-item__metodospago {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: var(--font-xxsmall);
    color: var(--secondary-solid);
}




/* FOOTER */

footer {
    background-color: var(--dark-bg-solid) ;
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    padding: var(--spacing-68);
}

.navbar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.navbar-footer__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
    
}

.navbar-footer__link:hover {    
    background-color: var(--primary-900);
}

.footer__derechos {
    text-align: center;
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    font-weight: 500;
    margin-top: var(--spacing-36);

}

/* ANIMACIONES */

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

